<!DOCTYPE html>
<html lang="en">
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div id="header" class="text-center">
      <p >Click to Upload Papaya</span>
    </div>

    <div id="image" class="text-center">
      <p>
        <input
          type="file"
          accept="image/*"
          name="image"
          id="file"
          onchange="loadFile(event)"
          style="display: none"
        />
      </p>

      <p><img id="output" width="200" /></p>

      <script>
        var loadFile = function (event) {
          var image = document.getElementById("output");
          image.src = URL.createObjectURL(event.target.files[0]);
        };
      </script>
    </div>

    <div id="uploadButton" class="text-center">
      <button type="button" class="btn info-btn">
        <label for="file" style="cursor: pointer">Upload Image</label>
      </button>
    </div>
  </body>
</html>
